
body { 
	background-color : #FAFAFA;
	font-family: 'Abel', sans-serif;
    width: 65%;  
    margin: 0 auto; 
} 


dt {
	/*display: inline-block;*/
	float: left;
	/*font-weight: 500;*/
	font-size: 100%; 
	/*clear: left;
	/*margin-bottom: 2px;*/ 
	/*width: 120px;*/
}

dd {
	width: 90%;
	margin-left: auto;
}