
body { 
	background-color : #FAFAFA;
	font-family: 'Abel', sans-serif;
    width: 65%;  
    margin: 0 auto; 
} 


dt {
	display: inline-block;
	float: left;
}

dd {
	width: 85%;
	margin-left: auto;
}